---
layout: default
---

<div class="banner {{ page.abbr }}">
  <div class="title">
    <h1 class="text-center">{{ page.title }}</h1>
    <div class="desc">{{ page.descriptor }}</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/"><svg width="18" height="18" class="back" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z"/></svg></a>
    </div>
  </div>
</div>

{{ content }}
